p {
    font: 400 1.2rem var(--spectral-font);
    color: var(--color-text);

}

.contact_block {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    text-align: center;
}

.contact_block__content {
    display: flex;
    gap: 3rem;
    align-items: stretch;

    & form {
        display: flex;
        flex-direction: column;
        gap: .5rem;
        flex: 1;

        & label {
            font-size: 1.2rem;
            text-align: left;
            width: 300px;
            letter-spacing: 0.5px;
            color: #555;
        }

        & textarea {
            min-height: 120px;
            resize: vertical;
        }
    }

    & img {
        width: 100%;
        max-width: 550px;
        height: auto;
        object-fit: cover;
        border-radius: 8px;
        box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
        transition: all 0.3s ease;

        &:hover {
            transform: translateY(-3px);
        }
    }
}


input,
textarea {
    outline: none;
    padding: 14px 20px;
    border: 1px solid #333;
    background-color: rgba(85, 85, 85, 0.09);
    color: #111;
    width: 100%;
    border-radius: 3px;
    font-size: 1.1rem;
    transition: all 0.3s ease;
}

.acceptance {
    display: flex;
    align-items: center;
    gap: 10px;

    & input {
        width: auto;
        cursor: pointer;
    }

    & label {
        font-size: 0.8rem;
        color: #666;
    }
}

input[type="submit"] {
    margin: 1rem auto 0;
    display: block;
    width: 150px;

    background-color: #D9D9D9;
    font: 400 1.1rem var(--spectral-font);
    color: #000000;
    border: none;
    cursor: pointer;
    letter-spacing: 1px;

    &:hover {
        opacity: 0.8;
        transform: translateY(-2px);
    }
}

.container {
    max-width: 80rem;
    margin: 0 auto;
    padding: 2rem;
}

.form__row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.form__group {
    display: flex;
    flex-direction: column;
}

.decor-bubble {
    position: fixed;
    top: 30%;
    width: 450px; /* 👈 pequeño */
    
    opacity: 0.15; /* sutil */
    pointer-events: none;
    z-index: -1;

    transition: transform 0.1s linear;
}
