@import "trabajos.css";

.section_detail {
    display: flex;
    flex-flow: row wrap;
    max-width: 100rem;
    padding: 4rem;
    margin-top: 1rem;
    gap: 2rem;
    justify-content: center;

}

.section_detail__content {
    font: 400 1.25rem var(--spectral-font);
    width: 600px;
    color: var( --color-text);
}

.section_detail__img {
    & img {
        width: 600px;
        height: 800px;
        box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
        transition: 0.3s ease;
        border-radius: 10px;
        
    }
}


#mainImage {
  transition: opacity 0.4s ease, transform 0.4s ease;
}

#mainImage.fade {
  opacity: 0;
  transform: scale(1.05);
}

.thumbs {
    height: 240px;
    flex-direction: column;
    display: flex;
    gap: 10px;
    margin-top: 15px;

}

.thumb {
  width: 70px;
  height: 70px;
  object-fit: cover;
  cursor: pointer;

  opacity: 0.5;
  transition: all 0.3s ease;

  border-radius: 4px;
}


/* Tienda */

.section_detail_store {
    display: flex;
    flex-flow: row wrap;
    max-width: 100rem;
    padding: 4rem;
    margin-top: 1rem;
    gap: 2rem;
    justify-content: center;
}

.section_detail_store__img {
    & img.mainImage {
        width: 600px;
        height: 800px;
        box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
        transition: 0.3s ease;
        border-radius: 10px;
        
    }
}

.store_thumbs {
    height: 78px;
    flex-flow: row wrap;
    display: flex;
    gap: 10px;
    margin-top: 15px;
}

.section_detail_store__content {
    font: 400 1.25rem var(--spectral-font);
    width: 600px;
    color: var(--color-text);
}


.breadcrumbs {
    flex: 0 0 100%;
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: center;
    font-size: 0.9rem;
    opacity: 0.7;
    margin-bottom: 1rem;
    font: 400 1rem var(--spectral-font);

}

.breadcrumbs a {
    text-decoration: none;
    color: inherit;
    transition: opacity 0.3s ease;
}

.breadcrumbs a:hover {
    opacity: 1;
    text-decoration: underline;
}

.breadcrumbs .current {
    font-weight: 500;
}

.breadcrumbs span {
    opacity: 0.5;
}

/* analizar estas clases. */

/* quantity */
.quantity__block {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 1.5rem;

    & button {
        font: 400 1rem var(--spectral-font);
        background-color: var(--boton-color);
    }
}


.quantity__input {
  width: 70px;
  padding: 0.5rem;
  font-size: 1rem;
  text-align: center;

  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;

  transition: border 0.3s ease;
}

.quantity__input:focus {
  border-color: black;
}


.btn__add {
    padding: 0.6rem 1.5rem;
    font-size: 0.9rem;
    letter-spacing: 1px;

    border: none;
    border-radius: 5px;
    background: transparent;
    cursor: pointer;

    transition: all 0.3s ease;
}

.btn__add:hover {
  background: black;
  color: white;
}


.cart-fixed {
  position: fixed;
  bottom: 30px;
  right: 30px;

  width: 60px;
  height: 60px;

  display: flex;
  align-items: center;
  justify-content: center;

  color: var(--main-color);
  background: white;
  border-radius: 50%;

  cursor: pointer;
  z-index: 1000;

  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
  transition: all 0.3s ease;
}

/* icono */
.cart-fixed i {
  font-size: 1.5rem;
}

/* contador */
.cart-count {
  position: absolute;
  top: -5px;
  right: -5px;

  background: red;
  color: white;

  font-size: 0.7rem;
  font-weight: bold;

  padding: 4px 6px;
  border-radius: 50%;
}

/* hover */
.cart-fixed:hover {
  transform: scale(1.1);
}