@import "styles.css";

.header {
    display: flex;
    margin: 0 auto;
    flex-flow: column wrap;
    align-items: center;
    gap: 1.5rem;
}

.header__light {
    color: var(--light);

    & h1 {
        font: 400 5rem var(--spectral-font);
        line-height: 1.1;
    }

    & h2 {
        font: 400 1.8rem var(--spectral-font);
        line-height: 1.3;       
    }
}

.header__dark {
    color: var(--dark);
    
    & h1 {
        font: 400 5rem var(--spectral-font);
        line-height: 1.1;
    }

}

.header__menu ul{
    display: flex;
    flex-flow: row wrap;
    gap: 2rem;
    list-style: none;

    & li a {
        font-family: var(--spectral-font);
        font-size: 1rem;
        text-transform: uppercase;

    }
}

.header__menu a {
  position: relative;
  display: inline-block;
}

.header__menu a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 0;
  height: 1px;
  background: currentColor;
  transition: width 0.4s ease;
}

.header__menu a:hover::after {
  width: 100%;
}

.header__menu a.active::after {
  width: 100%;
}


/* ===== 📱 TABLET ===== */
@media (max-width: 1024px) {
    .header {
        gap: 1rem;
    }

    .header__light h1,
    .header__dark h1 {
        font-size: 3.5rem;
    }

    .header__light h2 {
        font-size: 1.5rem;
    }

    .header__menu ul {
        gap: 1.5rem;
    }
}

/* ===== 📱 MÓVIL ===== */
@media (max-width: 768px) {
    .header {
        gap: 0.8rem;
        padding: 1rem;
    }

    .header__light h2 {
        font-size: 1.3rem;
    }

    .header__menu ul {
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }

    .header__menu li a {
        font-size: 0.9rem;
    }
}

/* ===== 📱 MÓVIL PEQUEÑO ===== */
@media (max-width: 480px) {
    .header__light h1,
    .header__dark h1 {
        font-size: 2rem;
    }

    .header__light h2 {
        font-size: 1rem;
    }

    .header__menu li a {
        font-size: 0.8rem;
    }

}