.header {
    display: flex;
    margin: 0 auto;
    flex-flow: column wrap;
    align-items: center;
    gap: 1.5rem;
}

.header__dark {
    color: var(--dark);
    
    & h1 {
        font: 400 5rem var(--spectral-font);
        line-height: 1.1;
    }

}


.header__menu_2 ul{
    display: flex;
    flex-flow: row wrap;
    gap: 2rem;
    list-style: none;

    & li a {
        font-family: var(--spectral-font);
        font-size: 1rem;
        text-transform: uppercase;

    }
}

.header__menu_2 a {
  position: relative;
  display: inline-block;
}

.header__menu_2 a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 0;
  height: 1px;
  background: currentColor;
  transition: width 0.4s ease;
}

.header__menu_2 a:hover::after {
  width: 100%;
}

.header__menu_2 a.active::after {
  width: 100%;
}


.hamburger_menu {
    display: none; /* oculto en desktop */
    font-size: 2rem;
    cursor: pointer;
    z-index: 1000;
}


/* ===== 📱 TABLET ===== */
@media (max-width: 1024px) {
    .header {
        gap: 1rem;
    }

    .header__light h1,
    .header__dark h1 {
        font-size: 3.5rem;
    }

    .header__light h2 {
        font-size: 1.5rem;
    }

    .header__menu_2 ul {
        gap: 1.5rem;

        & li a {
            font-size: 1rem;
        }
    }
}

/* ===== 📱 MÓVIL ===== */
@media (max-width: 768px) {

    .header__dark {
        display: flex;
        flex-direction: row;

        align-items: center;

        & h1 {
            font-size: 3.2rem;
        }
    }

    /* .header__light h2 {
        font-size: 1.3rem;
    }

    .header__menu_2 ul {
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    } */

    .header__menu_2 ul {
        display: none;

        & li a {
            font-size: 1rem;
        }
    }

    .hamburger_menu {
        display: block;
    }
}

/* ===== 📱 MÓVIL PEQUEÑO ===== */
@media (max-width: 480px) {

    .header__dark {
        display: flex;
        flex-direction: row;

        align-items: center;

        & h1 {
            font-size: 2.8rem;
        }
    }

    .header__dark h2 {
        font-size: 1.4rem;
    }

    .header__menu_2 ul {

        & li a {
            font-size: 1rem;
        }
    }

}
