/* HEADER GENERAL */
.header {
    display: flex;
    margin: 0 auto;
    flex-flow: column wrap;
    align-items: center;
    gap: 1.5rem;
}

/* VARIANTE DARK DEL HEADER */
.header__dark {
    color: var(--dark);
    
    & h1 {
        font: 400 5rem var(--spectral-font);
        line-height: 1.1;
    }

}

/* NAVEGACIÓN PRINCIPAL */
.header__nav {

    & ul{
        display: flex;
        flex-flow: row wrap;
        gap: 2rem;
        list-style: none;
    }

    & a {
        font-family: var(--spectral-font);
        font-size: 1rem;
        text-transform: uppercase;
        position: relative;
        display: inline-block;

        &::after {
            content: "";
            position: absolute;
            left: 0;
            bottom: -4px;
            width: 0;
            height: 1px;
            background: currentColor;
            transition: width 0.4s ease;
        }

        &:hover::after {
            width: 100%;
        }

        &.active::after {
            width: 100%;
        }
    }
}

/* BOTÓN HAMBURGUESA */
.hamburger_menu {
    display: none;
    font-size: 2rem;
    cursor: pointer;
    z-index: 1000;
}


/* ===== TABLET ===== */
@media (max-width: 1024px) {
    .header {
        gap: 1rem;
    }

    .header__light h1,
    .header__dark h1 {
        font-size: 3.3rem;
    }

    .header__light h2 {
        font-size: 1.5rem;
    }

    .header__nav ul {
        gap: 1.5rem;

        & li a {
            font-size: 1rem;
        }
    }
}

/* MÓVIL */
@media (max-width: 768px) {

    .header__dark {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        & h1 {
            font-size: 3rem;
        }
    }

    .header__nav ul {
        display: none;
    } 


    .header__nav.active ul {
        display: flex;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 2rem;
        background-color: white;
        z-index: 1;

        & li a {
            font: 400 clamp(1rem, 5vw, 2rem) var(--spectral-font);
        }
        

    }

    .hamburger_menu {
        display: block;
    }
}

/* MÓVIL PEQUEÑO */
@media (max-width: 480px) {

    .header__dark {
        display: flex;
        flex-direction: row;

        align-items: center;

        & h1 {
            font-size: 2.5rem;
        }
    }

    .header__dark h2 {
        font-size: 1.4rem;
    }

    .header__nav ul {

        & li a {
            font-size: 1rem;
        }
    }

}
