@import "header.css";

.home__section {
    position: relative;
    min-height: 100vh;
    max-width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}


.home__bg {
    position: absolute;
    inset: 0;
    background-size: cover;
    background-position: center;
    z-index: 0;
    transition: opacity 1s linear;
}


.home__section > *:not(.home__bg) {
    position: relative;
    z-index: 1;
}
