@import "header.css";

.home__section {
    min-height: 100vh;
    max-width: 100vw;
    border: 1px solid red;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    background-image: url(../assets/images/inicio/home_1.jpg);
}
