@import "header.css";

/* Agregar js */
@keyframes changeBg {
    0% {
        background-image: url("../assets/images/inicio/home_1.jpg");
        background-size: cover;
        background-position: center;
    }
    33% {
        background-image: url("../assets/images/inicio/home_2.jpg");
        background-size: cover;
        background-position: center;
    }
    66% {
        background-image: url("../assets/images/inicio/home_5.jpg");
        background-size: cover;
        background-position: center;
    }
    100% {
        background-image: url("../assets/images/inicio/home.jpg");
        background-size: cover;
        background-position: center;
    }
}

.home__section {
    min-height: 100vh;
    max-width: 100vw;
    border: 1px solid red;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    animation: changeBg 50s infinite;
}
