/* 
    Importación de fuentes desde Google Fonts:
    - Marcellus → para títulos elegantes
    - Raleway → tipografía versátil (aunque no la usas aún directamente)
    - Spectral → texto principal (estilo editorial)
*/
@import url('https://fonts.googleapis.com/css2?family=Marcellus&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* 
    Variables globales (Custom Properties)
    Facilitan mantenimiento y consistencia visual
*/
:root {
    --spectral-font: "Spectral", serif;
    --marcellus-font: "Marcellus", serif;
    --light: #FFFFFF;
    --dark: #000000;
    --color-text: #555555;
    --color-text-light: #777777;
    --boton-color: #D9D9D9;
    --main-color: #497686;
}

img {
    max-width: 100%;
    width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

.section {
    padding: clamp(1rem, 5vw, 3rem) 1rem;
    margin: 0 auto;
}

body {
  opacity: 1;
  transition: opacity 1.2s ease;

    &.menu-open {
        overflow: hidden;
        height: 100vh;
    }
}

body.fade-out {
  opacity: 0;
}