.trabajos__block {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    gap: 2rem;

    & .filters {
        display: flex;
        flex-flow: row wrap;
        gap: 2rem;

        & button {
            font: 400 1.1rem var(--marcellus-font);
            background: none;
            border: none;
            cursor: pointer;
            color: var(--color-text-light);

            &:hover {
                color: var(--color-text)
            }

            &.active {
                color: black;
                border: none;
            }
        }

    }
}

.trabajos__cards {
    display: grid;
    grid-template-columns: repeat(3, 400px);
    gap: 3rem;

    & div img {
        height: 550px;
        width: 400px;
        border-radius: 10px;
    }
}

.decor-bubble {
    position: fixed;
    top: 30%;
    width: 450px;

    opacity: 0.15;
    pointer-events: none;
    z-index: -1;

    transition: transform 0.1s linear;
}

.image-container {
    position: relative;
    overflow: hidden;
}

/* Imagen */
.image-container img {
    width: 100%;
    height: 120%;
    /* 👈 importante para que haya espacio de movimiento */
    object-fit: cover;
    transform: translateY(0);
    transition: transform 0.5s linear;
}

/* Overlay oculto inicialmente */
.overlay {
    font: 400 1.3rem var(--marcellus-font);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    color: white;

    opacity: 0;
    transition: opacity 0.3s ease;

    & h3 {
        text-align: center;
    }
}

.image-container:hover .overlay {
    opacity: 1;
}

/* Estilo del botón/enlace */
.overlay a {
    margin-top: 10px;
    color: white;
    text-decoration: none;
    border: 1px solid white;
    padding: 6px 12px;
    transition: 0.3s;
    list-style: none;
    border: none;
}



/* tienda */

.price {
    margin: 10px 0;
    font-size: 1.2rem;
}

.old-price {
    text-decoration: line-through;
    opacity: 0.6;
    margin-right: 5px;
}

.new-price {
    font-weight: bold;
    color: #fff;

    &.dark {
        color: var(--color-text);
    }

    & .iva {
        font-weight: normal;
        font-size: 1rem;
        opacity: .6;
        margin-left: .3rem;
    }
}


/* ===== TABLET ===== */
@media (max-width: 1024px) {}


/* ===== MÓVIL ===== */
@media (max-width: 768px) {

    .trabajos__block {
        display: flex;
        flex-flow: column nowrap;
        gap: 2rem;

        & .filters {
            display: flex;
            flex-direction: row;
            gap: 1rem;

            & button {
                font: 400 1rem var(--marcellus-font);
                color: var(--color-text-light);

                &:hover {
                    color: var(--color-text)
                }

                &.active {
                    color: black;
                    border: none;
                }
            }
        }
    }

    .trabajos__cards {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1rem;

        & div img {
            width: 100%;
            height: auto;
            border-radius: 10px;
            object-fit: cover;
        }
    }


}

/* ===== MÓVIL PEQUEÑO ===== */
@media (max-width: 480px) {

    .trabajos__block {
        display: flex;
        flex-flow: column nowrap;
        gap: 1rem;

        & .filters button {
            font: 400 .9rem var(--marcellus-font);
        }
    }
    
}
